.paypal-button-generator-form .h5,
.paypal-button-generator-form h5 {
    font-size: 1.25rem;
    margin: 0px;
}
.item-image {
    text-align: center;
}
#paypal-buttons-image-preview {
    width: 50%;
}
.paypal-button-generator-form .row {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    flex-wrap: wrap;
}

.paypal_shortcode_info{
    position: relative;
}
.order-list .dashicons-info:hover .tooltiptext {
    visibility: visible;
}
.paypal-button-generator-form .row>* {
    width: 100%;
    max-width: 100%;
}

.paypal-button-generator-form .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}

.form-pd {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.paypal-button-generator-form select {
    border: solid 2px #dadada !important;
    width: 100%;
    padding: 4px 10px;
}

.additional-settings-row-main {
    margin: 10px 0px 25px 0px;
    border-top: solid 2px #f1f5f9;
    padding-top: 20px;
}
.tax_on_shipping {
    margin-bottom: 12px;
}
.d-flex {
    display: flex;
}
.tax_on_shipping_lbl {
    font-size: 12px !important;
    color: #878383 !important;
    padding-bottom: 0px !important;
    position: relative;
    top: -3px;
    margin-left: 7px;
}
#button_type,
#buy_now_group select,
.customize-row .form-group select{
    border-radius: 0px;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55% !important;
    background-size: 16px 16px !important;
    cursor: pointer;
    /* vertical-align: middle; */
}
@media (min-width: 768px){
    .paypal-button-generator-form .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.paypal-button-generator-form .customization {
    width: 100%;
    margin: 20px 0px 0px 0px;
    border-top: solid 2px #f1f5f9;
}

.paypal-button-generator-form .customized-paypal-button,
.paypal-button-generator-form .add-another-option,
.paypal-button-generator-form .button,
.paypal-button-generator-form .option-name-done,
.paypal-button-generator-form .remove,
.paypal-button-generator-form .save-price-option,
.paypal-button-generator-form .customize-text-appearance,
.paypal-button-generator-form .save-text-field {
    background-color: #63a804;
    width: fit-content;
    height: 35px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    padding: 8px 30px;
    border-radius: 5px;
    display: block;
}

.paypal-button-generator-form {
    padding: 15px 0 0px 0px;
}

.paypal-button-generator-form label {
    color: #212B36;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    /* margin: 0px; */
}

.customize-button label {
    width: 50%;
}

.paypal-button-generator-form .customize-button label {
    padding-bottom: 0px;
}

.paypal-button-generator-form .wp-core-ui select {
    font-size: 16px;
    width: 100%;
}

.paypal-button-generator-form .panel-body input[type=date],
.paypal-button-generator-form .panel-body input[type=datetime-local],
.paypal-button-generator-form .panel-body input[type=datetime],
.paypal-button-generator-form .panel-body input[type=email],
.paypal-button-generator-form .panel-body input[type=month],
.paypal-button-generator-form .panel-body input[type=number],
.paypal-button-generator-form .panel-body input[type=password],
.paypal-button-generator-form .panel-body input[type=search],
.paypal-button-generator-form .panel-body input[type=tel],
.paypal-button-generator-form .panel-body input[type=text],
.paypal-button-generator-form .panel-body input[type=time],
.paypal-button-generator-form .panel-body input[type=url],
.paypal-button-generator-form .panel-body input[type=week] {
    padding: 5px 24px 5px 8px !important;
    line-height: 2 !important;
    border-color: #8c8f94;
}

.paypal-button-generator-form .panel-body input[type=checkbox] {
    padding: 0px !important;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    display: inline-block;
}

.additional-settings h5 {
    margin-bottom: 10px;
}

.additional-settings label {
    display: inline-block;
}

.paypal-button-generator-form .panel-body input[type=checkbox]:checked::before {
    margin: -1px 0 0 -2px;
}

.paypal-button-generator-form .currency {
    padding: 8px 24px 5px 8px !important;
}

.paypal-button-generator-form .create-option-field input {
    padding: 0px 10px !important;
    margin-bottom: 5px;
}

.paypal-button-generator-form .create-option-field .form-control,
.paypal-button-generator-form .menu-option-name .form-control {
    padding: 2px 10px !important;
    margin-bottom: 5px;
}

.paypal-button-generator-form a {
    text-decoration: none;
}

.other-customization-fields {
    margin: 20px 0;
}

.add-text-field .form-control {
    margin-bottom: 20px;
}

.paypal-button-generator-form .add-text-field {
    margin-top: 20px;
}

.wp-color-picker,
.wp-picker-open,
.wp-picker-input-wrap {
    margin: 0 10px;
}

.remove {
    background-color: #b41d1d !important;
}

.customize-btn-padding>a:active,
.customize-btn-padding>a:hover,
.customize-btn-padding>a:focus,
.customize-text-appearance:active,
.customize-text-appearance:hover,
.customize-text-appearance:focus {
    color: #fff;
}

.customized-paypal-button,
.save-price-option,
.option-name-done,
.save-text-field,
.wp-picker-clear {
    background-color: #888686;
    color: #fff !important;
    border-radius: 5px;
    border: none !important;
    text-align: center;
    font-size: 14px !important;
}

.wp-picker-clear {
    padding: 6px 17px !important;
    background-color: #888686 !important;
    margin-bottom: 15px !important;
}

.wp-picker-input-wrap input {
    line-height: 1.6 !important;
}

.create-price-option,
.create-option-name,
.create-option-name .menu-option-name {
    margin-top: 10px;
}

.btn-text {
    font-size: 16px;
    font-weight: 600;
}

#paypal-button-meta-box .inside {
    background-color: #ffffff;
    margin-top: 0px !important;
}

.paypal-button-generator-form .step1-heading {
    background: #9e9b9b;
    padding: 6px 12px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.paypal-button-generator-form .panel-body {
    margin-top: 8px;
}

.wp-picker-clear {
    margin: 10px 20px !important;
}

.paypal-button-generator-form .form-group .form-pd {
    margin-bottom: 10px;
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    align-items: center;
}

.paypal-button-generator-form .form-group {
    margin-bottom: 10px;
}

.ml-1 {
    margin-left: 1%;
}

.paypal-button-generator-form .panel-body input[type=date],
.paypal-button-generator-form .panel-body input[type=datetime-local],
.paypal-button-generator-form .panel-body input[type=datetime],
.paypal-button-generator-form .panel-body input[type=email],
.paypal-button-generator-form .panel-body input[type=month],
.paypal-button-generator-form .panel-body input[type=number],
.paypal-button-generator-form .panel-body input[type=password],
.paypal-button-generator-form .panel-body input[type=search],
.paypal-button-generator-form .panel-body input[type=tel],
.paypal-button-generator-form .panel-body input[type=text],
.paypal-button-generator-form .panel-body input[type=time],
.paypal-button-generator-form .panel-body input[type=url],
.paypal-button-generator-form .panel-body input[type=week],
.paypal-button-generator-form .panel-body select {
    border: solid 2px #E2E8F0 !important;
    width: 100%;
    color: #64748B;
    margin-bottom: 10px;
    font-weight: 400;
    background: #e2e8f000;
}

.paypal-button-generator-form .panel-body .btn-text {
    font-size: 20px;
    font-weight: 600;
}

#paypal-button-meta-box .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 18px;
}

#paypal-button-meta-box .select2-container .select2-search--inline {
    float: none;
    position: relative;
    top: -1px;
}

#paypal-button-meta-box .select2-container--default .select2-selection--multiple {
    border: 2px solid #dadada;
    padding: 8px;
    border-radius: 0px;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    background-size: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}

#paypal-button-meta-box .select2-container--default .select2-search--inline .select2-search__field {
    cursor: pointer;
}

.wbp-hide-funding label {
    width: 48%;
}

#paypal-button-meta-box .select2-container {
    width: 100% !important;
}

.wbp-funding-method-message {
    font-size: 18px;
    font-weight: 500;
    background: #ffffff;
    color: #000;
    padding: 15px;
    border: dashed 2px #c2c2c2;
    text-align: center;
}

#wbp-paypal-iframe {
    width: 100%;
}

.paypal_shortcode_copy {
    float: right;
    cursor: pointer;
}

.paypal_shortcode_copy .tooltiptext, .paypal_shortcode_info .tooltiptext, .email-settings-table tr td .tooltiptext {
    visibility: hidden;
    width: 107px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 85%;
    transform: translateX(-50%);
}
.additional-settings #hide-data-fields{
    margin-top: 3px;
}
.additional-settings #hide-data-fields {
    width: 19px;
    height: 19px;
}
.additional-settings #hide-data-fields:focus-visible{
    outline: none;
}
.additional-settings label{
    font-size: 12px !important;
    color: #878383 !important;
    padding-bottom: 0px !important;
    position: relative;
    top: 4px;
    margin-left: 7px;
}
.paypal_shortcode_copy:hover .tooltiptext,
.paypal_shortcode_info:hover .tooltiptext {
    visibility: visible;
}

.wp-picker-container .wp-color-result.button {
    height: 30px;
    border: solid 1px #a9a9a9;
}

.wp-color-result-text {
    border-radius: 3px;
}

.item-name-details,
.price-currency,
.shipping-rate,
.tax-rate,
{
padding: 15px 0;
}

.customization .currency {
    padding: 0 !important;
}

.paypal-button-generator-form .wbp-form .item-name-details label {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    display: block;
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
}

p.item-name {
    width: auto;
}

p.item-name,
p.item-price,
span.amount,
.wbp-price {
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 12.4px 20px;
    width: 80%;
}

span.amount,
.wbp-price {
    padding-left: 0;
}

p.item-price {
    float: left;
}

p.shipping {
    float: left;
    margin: 0;
    padding: 13.3px 20px;
    width: 80%;
}

label.shipping-rate-label {
    float: left;
    width: 50%;
    line-height: 24px;
}

label.tax-rate-label {
    float: left;
    width: 50%;
}

p.tax-amount {
    float: left;
    margin: 0px;
    padding: 12.2px 20px;
    width: 80%;
}

.item-name-details {
    display: flex;
    align-items: center;
    /* background: #fff; */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.price-currency {
    margin: 0px;
    display: block;
}

.shipping-rate {
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.price-currency .price {
    border: 1px solid #cbc8c8;
    display: flex;
    align-items: center;
    width: 100%;
    border-left: 0;
    border-right: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.tax-rate {
    float: left;
    width: 100%;
    border: 1px solid #cbc8c8;
    border-radius: 0;
    border-left: 0;
    display: flex;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border-right: 0px;
}

.tax-rate+div {
    display: flex;
    width: 100%;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.wbp-form {
    float: left !important;
    /* border: 1px solid #cbc8c8 !important; */
    /* background: #fff; */
    width: 100%;
}

span.currency {
    font-size: 18px;
}

.customer-view .form-pd .wbp-form label {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    color: #212B36;
    width: 170px;
    margin-bottom: 0px;
    padding-bottom: 0;
    height: 100%;
    padding: 13px 20px;
    background-color: #f1f5f9;
}

.customer-view .form-pd {
    margin: 15px 15px 0 15px;
}

p.total-amount {
    float: left;
    line-height: 24px;
    margin: 0px;
    padding: 13px 20px 10px 20px;
    width: 80%;
}
.additional-settings-row-main .wp-color-result-text {
    background: #333A48;
    color: #ffffff;
    font-weight: 500;
}

.customer-view {
    background: #f1f5f9;
}

.customize-button select {
    margin-bottom: 0 !important;
}

#paypal-button-meta-box .select2-container--default .select2-selection--multiple {
    border: 2px solid #e2e8f0;
    border-radius: 4px;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 3px !important;
}
.inside:has(#paypal_shortcode) {
    display: flex;
}
.add-img-btn-manager {
    display: flex;
    gap: 20px;
}
.add-img-btn-manager button {
    background: #f6f7f7 !important;
    color: #2271b1 !important;
    height: auto !important;
    font-weight: 500;
    border: solid 2px #2271b11a !important;
}
#select2-wbp-button-hide-funding-container + .select2-search .select2-search__field{
    top: -9px;
    position: relative;  
}

.tab-container {
    width: 100%;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.tab-container input[type="radio"] {
    display: none;
}
.tab {
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 15px 0;
    background: #007BFF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.tab:hover {
    background: #0056b3;
}
.tab-container input[type="radio"]:checked + .tab {
    background: #0056b3;
    box-shadow: inset 0 -3px 0 #fff;
}
.tab-content {
    padding: 20px;
}
.tab-pane {
    display: none;
}

.tab-container input[type="radio"]:nth-of-type(1):checked ~ .tab-content #email_content{
    display: block;
}
.email-settings-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #E2E8F0;
}
.email-settings-table thead tr {
    border-bottom: 2px solid #E2E8F0;
}
.email-settings-table th, .email-settings-table td {
    padding: 12px 15px;
    text-align: left;
}
.email-settings-table th {
    background-color: #f7f7f7;
    font-weight: 600;
    color: #212B36;
    font-size: 16px;
}
.email-settings-table th:first-child {
    width: 1em;
}
.email-checkbox-settings input[type=checkbox]:checked::before {
    margin:0px !important;
}
.email-checkbox-settings input {
    width: 28px !important;
    min-height: 25px !important;
}
.help-tip-before:before {
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
}
.help-tip-info:before {
    content: "\f348";
}
.help-tip-info {
    position: relative;
}
.email-settings-table tr td a {
    text-decoration: none;
    color: #3c434a;
}
.order-list .tooltiptext {
    visibility: hidden;
    width: 107px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    transform: translateX(-50%);
}
.help-tip-info:hover .tooltiptext{
    visibility: visible;
}
button.manage-btn {
    background: #f6f7f7 !important;
    color: #2271b1 !important;
    height: auto !important;
    font-weight: 500;
    border: solid 2px #2271b11a !important;
    border-radius: 5px;
    display: block;
    padding: 8px 30px;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
}
.email-settings-table td:last-child {
    float: inline-end;
}
.email-settings-table tr td {
    font-size: 14px;
}
.email-options label, .email-template label, .order-list label{
    color: #212B36;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    display: block;
}
.email-options label{
    width: 8%;
    text-align: left;
}
.email-template label{
    width: 13%;
    text-align: left;
}
.order-list label{
    width: 12%;
    text-align: left;
}
.email-options input, .email-template input, .order-list input{
    border: solid 2px #E2E8F0 !important;
    width: 50%;
    color: #64748B;
    font-weight: 400;
    background: #e2e8f000;
    border-radius: 0px;
    min-height: 30px;
    line-height: 2;
    font-size: 14px;
    padding: 4px 10px;
    background: #fff;
}
.email-settings-table tr td .manage-btn {
    text-decoration: none;
    color: #3c434a;
    font-weight: 500;
    border: solid 2px #2271b11a !important;
    font-size: 14px;
    padding: 8px 30px;
    display: inline-block;
}
.email-template h2, .email-options h2, .store-insights h2, .email-title {
    font-size: 1.25rem;
}
.form-list, .order-list {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}
.order-list .dashicons-info {
    margin-left: -30px;
    padding-right: 10px;
}
.form-list .sub-title, .order-list .sub-title{
    color: #212B36;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    width: 13%;
    text-align: left;
}
.order-list .sub-title{
    width: 12%;
    text-align: left;
}
.form-list .checkbox, .order-list .checkbox {
    font-size: 16px;
    line-height: 20px;
    color: #5a5a5a;
}
.form-list .checkbox input, .order-list .checkbox input {
    border: solid 1px #a5bbd8 !important;
    margin: 0;
    margin-right: 5px;
    padding: 0px !important;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    display: inline-block;
}
.text-btn {
    background: #333A48;
    font-weight: 500;
    color: #ffffff;
}
.forminp-color {
    display: flex;
    gap: 8px;
}
.form-list textarea, .order-list textarea {
    width: 400px;
    height: 75px;
    border: solid 2px #E2E8F0 !important;
    font-size: 14px;
    padding: 4px 10px;
    color: #000;
}
.forminp-color #base_color{
    width: 30%;
    padding: 0 2px;
    min-height: 40px;
}
.status-disabled, .status-enabled, .status-manual {
    font-size: 24px;
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
}
span.status-enabled:hover {
    cursor: help;
}
.status-enabled::before {
    font-family: dashicons;
    speak: never;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f12a";
   color: #2271b1;
}
.status-disabled::before {
    font-family: dashicons;
    speak: never;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\f335";
    color: #fffcfc;
    background-color: #cbcbcb;
    border-radius: 20px;
}
.email-options .form-list label {
    width: 13%;
}
.email-settings-table tr:nth-child(odd) {
    background-color: #ffffff;
}
button.save-btn {
    color: #fff;
    background: #2271b1;
    border: 0;
    padding: 15px 24px;
    font-size: 16px;
    cursor: pointer;
}
a.return-icon {
    text-decoration: none;
    outline: none;
    border: 0;
    margin-left: 10px;
}
.custom-text{
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #4a4a4a;
}
.checkbox-list .checkbox {
    width: 50%;
}
.checkbox-list .checkbox input {
    min-height: 0;
}
.form-list .checkbox input[type=checkbox]:checked::before, .checkbox-list .checkbox input[type=checkbox]:checked::before {
    margin: -1px 0px 1px -3px;
}
.order-list select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.order-list select:focus {
    outline: none;
    border-color: #0073e6;
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}
.html-template-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
}
.html-template-list p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #4a4a4a;
}
.html-template .button {
    background: #f6f7f7 !important;
    color: #2271b1 !important;
    height: auto !important;
    font-weight: 500;
    border: solid 2px #2271b11a !important;
    font-size: 14px;
    border-radius: 5px;
    padding: 8px 30px;
}
.html-template {
    display: flex;
    gap: 15px;
}
.template-code {
    width: 100%;
    min-height: 60vh;
    height: calc(100vh - 295px);
    border: 1px solid #dcdcde;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.form-list .button-small.wp-picker-clear {
    width: 100%;
    margin-left: 0px !important;
}
@media screen and (max-width: 1525px) {
    .wp-picker-clear {
        margin: 10px 10px !important;
    }

    .wp-picker-open {
        margin-right: 10px !important;
    }
}

@media screen and (max-width: 1299px) {
    .wp-picker-open {
        margin: 15px 0 !important;
    }

    .wp-color-picker,
    .wp-picker-input-wrap {
        margin: 0px !important;
    }

    .wp-picker-input-wrap .button-color-field {
        width: 90%;
    }

    .paypal-button-generator-form .form-group .form-pd {
        display: block;
        margin-bottom: 10px;
    }

    .customize-button label {
        padding-bottom: 5px;
    }
}

@media screen and (max-width:499px) {
    .customer-view .form-pd .wbp-form label {
        font-size: 14px;
        padding: 11px 10px;
        width: 135px;
    }

    p.item-name,
    p.item-price,
    span.amount,
    .wbp-price,
    p.tax-amount,
    p.total-amount {
        font-size: 14px;
        padding: 1px 10px;
    }
}